body {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

body .row {
    margin-left: 0;
    margin-right: 0;
    padding: 5px 8px; 
    
    border-bottom: 2px dashed #ddd;
}

h1.main_title {
    margin: 0;
    padding: 10px;
    text-align: center;
    word-wrap: break-word;
    font-weight: bold;
}

div.content {
    padding: 5px;
    max-width: 800px;
    word-wrap: break-word;
}

div.note-editable h1, div.note-editable h2, div.note-editable h3, div.note-editable h4, div.note-editable h5, div.note-editable h6,
div.note-editable div, div.note-editable p, div.note-editable span, div.note-editable input, div.note-editable select, div.note-editable form,
div.note-editable ol, div.note-editable ul, div.note-editable li,
div.note-editable table, div.note-editable tbody, div.note-editable tr, div.note-editable th, div.note-editable td 
{
    font-family: 'Arial' !important;
    font-weight: 300;
}
